*.exe
*.out
*.o
*.pch
*.gch
.DS_Store
*.gcda
*.gcno
out.txt
*.zip
C/lab_07_graphics/data/*.txt
C/lab_07_graphics/preproc_data/*.txt
C/lab_07_graphics/postproc_data/?/*.txt
C/lab_07_graphics/postproc_data/?/*.xlsx
